<%= stylesheet_link_tag 'index' %>
<%= stylesheet_pack_tag 'application' %>
<header class="horizontal-stack">
  <div id="logo_panel">
    <img id="logo" src="assets/PlanSFULarge.svg" alt="Plansfu Logo" />
  </div>
  <div id="title_panel"></div>
  <div id="signin_panel" class="center-content">
    <div id="signin_display"></div>
  </div>
</header>
<div id="main_panel">
  <div id="inner_panel" class="horizontal-stack">
      <div id="left_panel">
          <div id="external_links_sidebar_display"></div>
      </div>
      <vl></vl>
      <div id="right_panel">
          <div id="info_panel">
            Add courses you have taken or want to take from the search results.
            Sign in to load your previously selected courses.
          </div>
          <div class="padding_medium"></div>
          <div id="term_tab_display"></div>
          <div class="padding_medium"></div>
          <div id="searchbar_and_dropdown_display"></div>
          <hr>
          <div id="course_search_display"></div>
      </div>
  </div>
  <footer class="horizontal-stack">
    <div class="transparent">
      <img id="logo" src="assets/PlanSFU.svg" alt="Plansfu Logo" />
      <p class="footer_text">CMPT 276 D300</p>
    </div>
    <div class="padding_auto"></div>
    <p class="footer_text">Not an official SFU site.</p>
    <div class="padding_auto"></div>
  </footer>
</div>
<div class="padding_large"></div>