.folding_panel {
    position: absolute;
    background: var(--base-color);
    border: 1px solid var(--base-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: var(--padding-medium);
    width: max-content;
    transition: height 0.3s ease, padding 0.3s ease;
    z-index: 1000;
    display: block;
}

.folding_panel.hide_panel {
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    display: hidden;
}