.search_bar_container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

#advanced_search_button {
    padding: var(--padding-small);
    height: 100%;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 320px;
    z-index: 1000;
    animation: fadeIn 0.3s;
}

.dropdown_menu div {
    margin-bottom: 15px;
}