.search_bar_container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

#advanced_search_button {
    padding: var(--padding-small);
    height: 100%;
}

.search_dropdown {
    position: absolute;
    width: 320px;
}