.signin_dropdown {
    position: absolute;
    right: var(--padding-medium);
}

.error_text {
    color: var(--text-error-color);
    margin: var(--padding-small);
}

.username_password_table {
    border: none;
}

.submit_panel {
    width: 100%;
}