<h1 class="scalable-text">Course List</h1>

<ul>
  <% @courses.each do |course| %>
    <li class="scalable-text"><%= "#{course.dept} #{course.number}: #{course.title}" %> - <%= course.description %></li>
  <% end %>
</ul>