#logo {
    height: 60px;
    object-fit: scale-down;
}

#signin_panel {
    margin-left: auto;
}

#main_panel {
    width: 90%;
    border-top: var(--padding-small) solid var(--base-dark);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#inner_panel {
    padding: var(--padding-large);
    height: 100%;
}

#left_panel {
    width: calc(30% - var(--padding-medium) - 1px);
    height: max-content;
}

#right_panel {
    width: calc(70% - var(--padding-medium) - 1px);
    display: flex;
    flex-direction: column;
    flex-grow: 100;
}

.footer_text {
    color: var(--light-text-color);
}