#logo {
    height: 60px;
    object-fit: scale-down;
}

#signin_panel {
    margin-left: auto;
}

#main_panel {
    width: 90%;
    border-top: var(--padding-small) solid var(--base-dark);
    padding: var(--padding-large);
    margin-left: auto;
    margin-right: auto;
}

#left_panel {
    width: 30%;
}

#right_panel {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 100;
}