#logo {
    height: 60px;
    object-fit: scale-down;
}

#signin_panel {
    margin-left: auto;
}

#main_panel {
    width: 80%;
    border-top: var(--padding-small) solid var(--base-dark);
    padding: var(--padding-large);
    margin-left: auto;
    margin-right: auto;
}

#left_pane {
    width: 40ch;
}

#right_pane {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 100;
}

#search_panel {
    width: 100%;
}

.course_item {
    border: 1px solid var(--base-dark);
    height: fit-content;
    margin-bottom: var(--padding-medium);
    margin-right: var(--padding-medium);
    padding: var(--padding-small);
    --title-color: var(--text-color);
    --class-display-add: block;
    --class-display-remove: none;
}

.course_add_button {
    display: var(--class-display-add);
}

.course_remove_button {
    display: var(--class-display-remove);
}

.course_add_remove_button {
    outline: none;
    background-color: var(--base-color);
    margin-left: auto;
    padding: var(--padding-small);
}

.course_add_remove_button:hover {
    background-color: var(--base-medium);
}

.course_item:hover {
    border: 1px solid var(--primary-color);
    --title-color: var(--primary-color);
}

.course_title {
    color: var(--title-color);
}